<h1><%= @brewery.name %></h1>
<hr>
<br>

<h2><label>Location: <%= @brewery.location %></label></h2>
<h2><label>Beer Notes: <%= @brewery.beverages %></label></h2>
<br>

<form action="/breweries/<%= @brewery.id %>" method="POST">
  <input type="hidden" id="hidden" name="_method" value="Delete">
  <input type="submit" value="Delete Brewery">
</form>
<br>

<form action="/breweries/<%= @brewery.id %>/edit" method="POST">
  <input type="hidden" id="hidden" name="_method" value="Edit">
  <input type="submit" value="Edit Brewery">
</form>
<br>

<a href="/breweries"><Button>Go Back</Button></a> 
